body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 1rem 0;
} 

header h1 {
    margin: 0;
}

main {
    padding: 2rem 0;
}

.tarjeta {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    max-width: 300px;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}

.profile-pic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.tarjeta h2 {
    margin-top: 1rem;
}

footer {
    background-color: #007BFF;
    color: white;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
